<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>latitude</key>
		<string>63.588753</string>
		<key>longitude</key>
		<string>-154.493062</string>
		<key>stateCode</key>
		<string>AK</string>
		<key>stateName</key>
		<string>Alaska</string>
		<key>stateNeighbors</key>
		<array/>
	</dict>
	<dict>
		<key>latitude</key>
		<string>32.318231</string>
		<key>longitude</key>
		<string>-86.902298</string>
		<key>stateCode</key>
		<string>AL</string>
		<key>stateName</key>
		<string>Alabama</string>
		<key>stateNeighbors</key>
		<array>
			<string>FL</string>
			<string>GA</string>
			<string>MS</string>
			<string>TN</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>35.20105</string>
		<key>longitude</key>
		<string>-91.831833</string>
		<key>stateCode</key>
		<string>AR</string>
		<key>stateName</key>
		<string>Arkansas</string>
		<key>stateNeighbors</key>
		<array>
			<string>LA</string>
			<string>MO</string>
			<string>MS</string>
			<string>OK</string>
			<string>TN</string>
			<string>TX</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>34.048928</string>
		<key>longitude</key>
		<string>-111.093731</string>
		<key>stateCode</key>
		<string>AZ</string>
		<key>stateName</key>
		<string>Arizona</string>
		<key>stateNeighbors</key>
		<array>
			<string>CA</string>
			<string>CO</string>
			<string>NM</string>
			<string>NV</string>
			<string>UT</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>36.778261</string>
		<key>longitude</key>
		<string>-119.417932</string>
		<key>stateCode</key>
		<string>CA</string>
		<key>stateName</key>
		<string>California</string>
		<key>stateNeighbors</key>
		<array>
			<string>AZ</string>
			<string>HI</string>
			<string>NV</string>
			<string>OR</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>39.550051</string>
		<key>longitude</key>
		<string>-105.782067</string>
		<key>stateCode</key>
		<string>CO</string>
		<key>stateName</key>
		<string>Colorado</string>
		<key>stateNeighbors</key>
		<array>
			<string>AZ</string>
			<string>KS</string>
			<string>NE</string>
			<string>NM</string>
			<string>OK</string>
			<string>UT</string>
			<string>WY</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>41.603221</string>
		<key>longitude</key>
		<string>-73.087749</string>
		<key>stateCode</key>
		<string>CT</string>
		<key>stateName</key>
		<string>Connecticut</string>
		<key>stateNeighbors</key>
		<array>
			<string>MA</string>
			<string>NY</string>
			<string>RI</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>38.910832</string>
		<key>longitude</key>
		<string>-75.52767</string>
		<key>stateCode</key>
		<string>DE</string>
		<key>stateName</key>
		<string>Delaware</string>
		<key>stateNeighbors</key>
		<array>
			<string>MD</string>
			<string>NJ</string>
			<string>PA</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>27.664827</string>
		<key>longitude</key>
		<string>-81.515754</string>
		<key>stateCode</key>
		<string>FL</string>
		<key>stateName</key>
		<string>Florida</string>
		<key>stateNeighbors</key>
		<array>
			<string>AL</string>
			<string>GA</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>32.157435</string>
		<key>longitude</key>
		<string>-82.907123</string>
		<key>stateCode</key>
		<string>GA</string>
		<key>stateName</key>
		<string>Georgia</string>
		<key>stateNeighbors</key>
		<array>
			<string>AL</string>
			<string>FL</string>
			<string>NC</string>
			<string>SC</string>
			<string>TN</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>19.898682</string>
		<key>longitude</key>
		<string>-155.665857</string>
		<key>stateCode</key>
		<string>HI</string>
		<key>stateName</key>
		<string>Hawaii</string>
		<key>stateNeighbors</key>
		<array>
			<string>CA</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>41.878003</string>
		<key>longitude</key>
		<string>-93.097702</string>
		<key>stateCode</key>
		<string>IA</string>
		<key>stateName</key>
		<string>Iowa</string>
		<key>stateNeighbors</key>
		<array>
			<string>IL</string>
			<string>MN</string>
			<string>MO</string>
			<string>NE</string>
			<string>SD</string>
			<string>WI</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>44.068202</string>
		<key>longitude</key>
		<string>-114.742041</string>
		<key>stateCode</key>
		<string>ID</string>
		<key>stateName</key>
		<string>Idaho</string>
		<key>stateNeighbors</key>
		<array>
			<string>MT</string>
			<string>NV</string>
			<string>OR</string>
			<string>UT</string>
			<string>WA</string>
			<string>WY</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>40.633125</string>
		<key>longitude</key>
		<string>-89.398528</string>
		<key>stateCode</key>
		<string>IL</string>
		<key>stateName</key>
		<string>Illinois</string>
		<key>stateNeighbors</key>
		<array>
			<string>IA</string>
			<string>IN</string>
			<string>KY</string>
			<string>MO</string>
			<string>WI</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>40.551217</string>
		<key>longitude</key>
		<string>-85.602364</string>
		<key>stateCode</key>
		<string>IN</string>
		<key>stateName</key>
		<string>Indiana</string>
		<key>stateNeighbors</key>
		<array>
			<string>IL</string>
			<string>KY</string>
			<string>MI</string>
			<string>OH</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>39.011902</string>
		<key>longitude</key>
		<string>-98.484246</string>
		<key>stateCode</key>
		<string>KS</string>
		<key>stateName</key>
		<string>Kansas</string>
		<key>stateNeighbors</key>
		<array>
			<string>CO</string>
			<string>MO</string>
			<string>NE</string>
			<string>OK</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>37.839333</string>
		<key>longitude</key>
		<string>-84.270018</string>
		<key>stateCode</key>
		<string>KY</string>
		<key>stateName</key>
		<string>Kentucky</string>
		<key>stateNeighbors</key>
		<array>
			<string>IL</string>
			<string>IN</string>
			<string>MO</string>
			<string>OH</string>
			<string>TN</string>
			<string>VA</string>
			<string>WV</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>31.244823</string>
		<key>longitude</key>
		<string>-92.145024</string>
		<key>stateCode</key>
		<string>LA</string>
		<key>stateName</key>
		<string>Louisiana</string>
		<key>stateNeighbors</key>
		<array>
			<string>AR</string>
			<string>MS</string>
			<string>TX</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>42.407211</string>
		<key>longitude</key>
		<string>-71.382437</string>
		<key>stateCode</key>
		<string>MA</string>
		<key>stateName</key>
		<string>Massachusetts</string>
		<key>stateNeighbors</key>
		<array>
			<string>CT</string>
			<string>NH</string>
			<string>NY</string>
			<string>RI</string>
			<string>VT</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>39.045755</string>
		<key>longitude</key>
		<string>-76.641271</string>
		<key>stateCode</key>
		<string>MD</string>
		<key>stateName</key>
		<string>Maryland</string>
		<key>stateNeighbors</key>
		<array>
			<string>DC</string>
			<string>DE</string>
			<string>PA</string>
			<string>VA</string>
			<string>WV</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>45.253783</string>
		<key>longitude</key>
		<string>-69.445469</string>
		<key>stateCode</key>
		<string>ME</string>
		<key>stateName</key>
		<string>Maine</string>
		<key>stateNeighbors</key>
		<array>
			<string>NH</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>44.314844</string>
		<key>longitude</key>
		<string>-85.602364</string>
		<key>stateCode</key>
		<string>MI</string>
		<key>stateName</key>
		<string>Michigan</string>
		<key>stateNeighbors</key>
		<array>
			<string>IN</string>
			<string>OH</string>
			<string>WI</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>46.729553</string>
		<key>longitude</key>
		<string>-94.6859</string>
		<key>stateCode</key>
		<string>MN</string>
		<key>stateName</key>
		<string>Minnesota</string>
		<key>stateNeighbors</key>
		<array>
			<string>IA</string>
			<string>ND</string>
			<string>SD</string>
			<string>WI</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>37.964253</string>
		<key>longitude</key>
		<string>-91.831833</string>
		<key>stateCode</key>
		<string>MO</string>
		<key>stateName</key>
		<string>Missouri</string>
		<key>stateNeighbors</key>
		<array>
			<string>AR</string>
			<string>IA</string>
			<string>IL</string>
			<string>KS</string>
			<string>KY</string>
			<string>NE</string>
			<string>OK</string>
			<string>TN</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>32.354668</string>
		<key>longitude</key>
		<string>-89.398528</string>
		<key>stateCode</key>
		<string>MS</string>
		<key>stateName</key>
		<string>Mississippi</string>
		<key>stateNeighbors</key>
		<array>
			<string>AL</string>
			<string>AR</string>
			<string>LA</string>
			<string>TN</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>46.879682</string>
		<key>longitude</key>
		<string>-110.362566</string>
		<key>stateCode</key>
		<string>MT</string>
		<key>stateName</key>
		<string>Montana</string>
		<key>stateNeighbors</key>
		<array>
			<string>ID</string>
			<string>ND</string>
			<string>SD</string>
			<string>WY</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>35.759573</string>
		<key>longitude</key>
		<string>-79.0193</string>
		<key>stateCode</key>
		<string>NC</string>
		<key>stateName</key>
		<string>North Carolina</string>
		<key>stateNeighbors</key>
		<array>
			<string>GA</string>
			<string>SC</string>
			<string>TN</string>
			<string>VA</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>47.551493</string>
		<key>longitude</key>
		<string>-101.002012</string>
		<key>stateCode</key>
		<string>ND</string>
		<key>stateName</key>
		<string>North Dakota</string>
		<key>stateNeighbors</key>
		<array>
			<string>MN</string>
			<string>MT</string>
			<string>SD</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>41.492537</string>
		<key>longitude</key>
		<string>-99.901813</string>
		<key>stateCode</key>
		<string>NE</string>
		<key>stateName</key>
		<string>Nebraska</string>
		<key>stateNeighbors</key>
		<array>
			<string>CO</string>
			<string>IA</string>
			<string>KS</string>
			<string>MO</string>
			<string>SD</string>
			<string>WY</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>43.193852</string>
		<key>longitude</key>
		<string>-71.572395</string>
		<key>stateCode</key>
		<string>NH</string>
		<key>stateName</key>
		<string>New Hampshire</string>
		<key>stateNeighbors</key>
		<array>
			<string>MA</string>
			<string>ME</string>
			<string>VT</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>40.058324</string>
		<key>longitude</key>
		<string>-74.405661</string>
		<key>stateCode</key>
		<string>NJ</string>
		<key>stateName</key>
		<string>New Jersey</string>
		<key>stateNeighbors</key>
		<array>
			<string>DE</string>
			<string>NY</string>
			<string>PA</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>34.97273</string>
		<key>longitude</key>
		<string>-105.032363</string>
		<key>stateCode</key>
		<string>NM</string>
		<key>stateName</key>
		<string>New Mexico</string>
		<key>stateNeighbors</key>
		<array>
			<string>AZ</string>
			<string>CO</string>
			<string>OK</string>
			<string>TX</string>
			<string>UT</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>38.80261</string>
		<key>longitude</key>
		<string>-116.419389</string>
		<key>stateCode</key>
		<string>NV</string>
		<key>stateName</key>
		<string>Nevada</string>
		<key>stateNeighbors</key>
		<array>
			<string>AZ</string>
			<string>CA</string>
			<string>ID</string>
			<string>OR</string>
			<string>UT</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>43.299428</string>
		<key>longitude</key>
		<string>-74.217933</string>
		<key>stateCode</key>
		<string>NY</string>
		<key>stateName</key>
		<string>New York</string>
		<key>stateNeighbors</key>
		<array>
			<string>CT</string>
			<string>MA</string>
			<string>NJ</string>
			<string>PA</string>
			<string>VT</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>40.417287</string>
		<key>longitude</key>
		<string>-82.907123</string>
		<key>stateCode</key>
		<string>OH</string>
		<key>stateName</key>
		<string>Ohio</string>
		<key>stateNeighbors</key>
		<array>
			<string>IN</string>
			<string>KY</string>
			<string>MI</string>
			<string>PA</string>
			<string>WV</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>35.007752</string>
		<key>longitude</key>
		<string>-97.092877</string>
		<key>stateCode</key>
		<string>OK</string>
		<key>stateName</key>
		<string>Oklahoma</string>
		<key>stateNeighbors</key>
		<array>
			<string>AR</string>
			<string>CO</string>
			<string>KS</string>
			<string>MO</string>
			<string>NM</string>
			<string>TX</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>43.804133</string>
		<key>longitude</key>
		<string>-120.554201</string>
		<key>stateCode</key>
		<string>OR</string>
		<key>stateName</key>
		<string>Oregon</string>
		<key>stateNeighbors</key>
		<array>
			<string>CA</string>
			<string>ID</string>
			<string>NV</string>
			<string>WA</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>41.203322</string>
		<key>longitude</key>
		<string>-77.194525</string>
		<key>stateCode</key>
		<string>PA</string>
		<key>stateName</key>
		<string>Pennsylvania</string>
		<key>stateNeighbors</key>
		<array>
			<string>DE</string>
			<string>MD</string>
			<string>NJ</string>
			<string>NY</string>
			<string>OH</string>
			<string>WV</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>41.580095</string>
		<key>longitude</key>
		<string>-71.477429</string>
		<key>stateCode</key>
		<string>RI</string>
		<key>stateName</key>
		<string>Rhode Island</string>
		<key>stateNeighbors</key>
		<array>
			<string>CT</string>
			<string>MA</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>33.836081</string>
		<key>longitude</key>
		<string>-81.163725</string>
		<key>stateCode</key>
		<string>SC</string>
		<key>stateName</key>
		<string>South Carolina</string>
		<key>stateNeighbors</key>
		<array>
			<string>GA</string>
			<string>NC</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>43.969515</string>
		<key>longitude</key>
		<string>-99.901813</string>
		<key>stateCode</key>
		<string>SD</string>
		<key>stateName</key>
		<string>South Dakota</string>
		<key>stateNeighbors</key>
		<array>
			<string>IA</string>
			<string>MN</string>
			<string>MT</string>
			<string>ND</string>
			<string>NE</string>
			<string>WY</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>35.517491</string>
		<key>longitude</key>
		<string>-86.580447</string>
		<key>stateCode</key>
		<string>TN</string>
		<key>stateName</key>
		<string>Tennessee</string>
		<key>stateNeighbors</key>
		<array>
			<string>AL</string>
			<string>AR</string>
			<string>GA</string>
			<string>KY</string>
			<string>MO</string>
			<string>MS</string>
			<string>NC</string>
			<string>VA</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>31.968599</string>
		<key>longitude</key>
		<string>-99.901813</string>
		<key>stateCode</key>
		<string>TX</string>
		<key>stateName</key>
		<string>Texas</string>
		<key>stateNeighbors</key>
		<array>
			<string>AR</string>
			<string>LA</string>
			<string>NM</string>
			<string>OK</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>39.32098</string>
		<key>longitude</key>
		<string>-111.093731</string>
		<key>stateCode</key>
		<string>UT</string>
		<key>stateName</key>
		<string>Utah</string>
		<key>stateNeighbors</key>
		<array>
			<string>AZ</string>
			<string>CO</string>
			<string>ID</string>
			<string>NM</string>
			<string>NV</string>
			<string>WY</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>37.431573</string>
		<key>longitude</key>
		<string>-78.656894</string>
		<key>stateCode</key>
		<string>VA</string>
		<key>stateName</key>
		<string>Virginia</string>
		<key>stateNeighbors</key>
		<array>
			<string>DC</string>
			<string>KY</string>
			<string>MD</string>
			<string>NC</string>
			<string>TN</string>
			<string>WV</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>44.558803</string>
		<key>longitude</key>
		<string>-72.577841</string>
		<key>stateCode</key>
		<string>VT</string>
		<key>stateName</key>
		<string>Vermont</string>
		<key>stateNeighbors</key>
		<array>
			<string>MA</string>
			<string>NH</string>
			<string>NY</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>47.751074</string>
		<key>longitude</key>
		<string>-120.740139</string>
		<key>stateCode</key>
		<string>WA</string>
		<key>stateName</key>
		<string>Washington</string>
		<key>stateNeighbors</key>
		<array>
			<string>AK</string>
			<string>ID</string>
			<string>OR</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>43.78444</string>
		<key>longitude</key>
		<string>-88.787868</string>
		<key>stateCode</key>
		<string>WI</string>
		<key>stateName</key>
		<string>Wisconsin</string>
		<key>stateNeighbors</key>
		<array>
			<string>IA</string>
			<string>IL</string>
			<string>MI</string>
			<string>MN</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>38.597626</string>
		<key>longitude</key>
		<string>-80.454903</string>
		<key>stateCode</key>
		<string>WV</string>
		<key>stateName</key>
		<string>West Virginia</string>
		<key>stateNeighbors</key>
		<array>
			<string>KY</string>
			<string>MD</string>
			<string>OH</string>
			<string>PA</string>
			<string>VA</string>
		</array>
	</dict>
	<dict>
		<key>latitude</key>
		<string>43.075968</string>
		<key>longitude</key>
		<string>-107.290284</string>
		<key>stateCode</key>
		<string>WY</string>
		<key>stateName</key>
		<string>Wyoming</string>
		<key>stateNeighbors</key>
		<array>
			<string>CO</string>
			<string>ID</string>
			<string>MT</string>
			<string>NE</string>
			<string>SD</string>
			<string>UT</string>
		</array>
	</dict>
</array>
</plist>
